.btn__btn_white__btn_animated:link,
.btn__btn_white__btn_animated:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn__btn_white__btn_animated:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn__btn_white__btn_animated:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn__btn_white__btn_animated {
  background-color: rgba(255, 255, 0, 0.7);
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 600;
}

.btn__btn_white__btn_animated::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn__btn_white__btn_animated::after {
  background-color: #fff;
}

.btn__btn_white__btn_animated:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn__btn_white__btn_animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
