.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn__white {
  background-color: rgba(255, 255, 0, 0.7);
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 600;
}

.btn__white::after {
  background-color: #fff;
}

.btn__green {
  background-color: $color-pine-green;
  color: $color-white-smoke;
  font-size: 15px;
  font-weight: 600;
}

.btn__green::after {
  background-color: $color-yellow-primary;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn__white::after {
  background-color: #fff;
}

.btn__animated:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn__animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn_text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-navy-big-light;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 2px;
  }

  &:hover {
    background-color: $color-navy-big-light;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
